Sphinx==7.2.6
sphinx-autobuild==2024.2.4
sphinxcontrib-bibtex==2.6.2
sphinx-rtd-theme==2.0.0
sphinx-version-warning==1.1.2
docutils==0.20.1
recommonmark==0.7.1
Pygments==2.17.2
git+https://github.com/metaborg/metaborg-pygments.git@master#egg=metaborg-pygments
